<p>love works!</p>

<div class="container">
  <div>Id_Comment : <input  type="text" [(ngModel)]="id_comment" (ngModelChange)="checkLiked(id_comment,id_user)" (ngModelChange)="countLike(id_comment)"></div>
  <div>My ID: <input type="text" [(ngModel)]="id_user" (ngModelChange)="checkLiked(id_comment,id_user)">
    <br>
<!--    &lt;!&ndash;   code button like&ndash;&gt;-->
    <button class="like-button">
      <img *ngIf="!check" class="heart" src="assets/images/icons/heart.png" alt="" (click)="like(id_comment,id_user)">
      <img *ngIf="check"class="heart-color" src="assets/images/icons/heart-color.png" alt="" (click)="unlike(id_love)">
    </button>

      <div class="dropdown">
        <a (click)="getUserLikeComment(id_comment)" class="dropbtn">{{count_like}} Like</a>
        <table class="dropdown-content table ">
          <tr *ngFor="let love of love_comments"> {{love.user.fullname}}</tr>
        </table>
      </div>

    <!--       end code-->

  </div>
</div>
