

<p>list works!</p>
<table class="table table-bordered">
  <th>Name</th>
  <th>Email</th>
  <th>Department</th>
  <th>Delete</th>
  <th>Accept</th>
  <tr *ngFor="let request of requests">
    <td>{{request.userSender.id}}</td>
    <td>{{request.userReceiver.id}}</td>
    <td>{{request.stt}}</td>
    <td>
      <!--        <button class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</button>-->
<!--      <button class="btn" (click)="openPopup(employee.id)">Delete</button>-->
    </td>
    <td >
      <button *ngIf="request.stt==false" class="btn btn-success" (click)="accept(request.id)" >Chờ Chấp nhận</button>
<!--      <button *ngIf="request.stt" class="btn btn-success"  >Ban be</button>-->

      <div class="dropdown">
        <button *ngIf="request.stt" class="dropbtn">Ban be</button>
        <div class="dropdown-content">
          <a (click)="unfriend(request.id)">Huy ket ban</a>
        </div>
      </div>
    </td>
  </tr>
</table>
