<form class="share-text-box" (ngSubmit)="onPost()" [formGroup]="postStatusForm">
                <textarea formControlName="content" class="share-text-field" aria-disabled="true"
                          placeholder="Say Something" id="email">
                </textarea>
  <div *ngIf="fb!== null">
    <img src="{{fb}}">
  </div>

  <div class="form-group col-12">
    <input type="file"
           id="file"
           #userPhoto
           (change)="onFileSelected($event)"
           name="image"
           autocomplete="off"
    />
  </div>
  <button class="btn-share" type="submit" [disabled]="timeOut">share</button>
  <div *ngIf="fb==null">
    <div class="progress-bar-container" [style.backgroundColor]="backgroundColor">
      <div class="progress" [ngStyle]="{
  backgroundColor: progressColor,
  width: width + '%'
  }">
      </div>
    </div>
  </div>


</form>
