<div class="container">
  <div>My ID: <input type="text" [(ngModel)]="id" (change)="checkFriends(id,id2)"></div>
  <div>Friend : <input  type="text" [(ngModel)]="id2" (change)="checkFriends(id,id2)" ></div>

  <button *ngIf="id==id2" class="dropbtn"> My Self</button>
  <button *ngIf="check1==0 && id!=id2" class="dropbtn" (click)="send()"> + Add Friend</button>

  <div class="dropdown" *ngIf="check1==1">
    <button class="dropbtn">Ban be</button>
    <div class="dropdown-content">
      <a (click)="unfriend(reques_id)">Huy ket ban</a>
    </div>
  </div>
  <button *ngIf="check1==2" class="dropbtn">Cho tra loi</button>
  <button *ngIf="check1==3" class="dropbtn" (click)="accept(reques_id)">Chap nhan loi moi ket ban</button>
  <button *ngIf="check1==3" class="decline dropbtn" (click)="unfriend(reques_id)">Tu choi</button>

</div>
