<div class="container">
  <button *ngIf="check1==0 && id!=id2" class="dropbtn" (click)="send()"> +Add Friend</button>

  <div class="dropdown" *ngIf="check1==1">
    <button class="dropbtn">Friends</button>
    <div class="dropdown-content">
      <a (click)="unfriend(reques_id)">Unfriend</a>
    </div>
  </div>
  <button *ngIf="check1==2" class="dropbtn">Cancel Request</button>
  <button *ngIf="check1==3" class="dropbtn" (click)="accept(reques_id)">Confirm</button>
  <button *ngIf="check1==3" class="decline dropbtn" (click)="unfriend(reques_id)">Delete Request</button>
</div>
