<app-header></app-header>
<main>
  <span *ngIf="user != undefined">
    <div class="main-wrapper">
    <!-- profile banner area start -->
    <div class="profile-banner-large bg-img"
         style="background-image: url({{user.imgcover}});">
    </div>
      <!-- profile menu area start -->





      <!-- profile menu area end -->
      <div class="profile-menu-area secondary-navigation-style bg-white">
        <app-menu-timeline></app-menu-timeline>
      </div>


      <!-- about author details start -->
    <div class="about-author-details">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="card widget-item">
              <div class="about-me">
                <ul class="nav flex-column about-author-menu">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li><a  routerLink="/profile/{{user.id}}/about" data-toggle="tab" class="active">Something About Me</a></li>
                  <li><a routerLink="#two" data-toggle="tab">Photo</a></li>
                  <li><a routerLink="/profile/{{user.id}}/friends" data-toggle="tab">Friend</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="about-description">
              <div class="tab-content">
                <div class="tab-pane fade active show" id="one">
                  <div class="work-zone">
                    <div class="author-desc-title d-flex">
                      <h6 class="author"><a routerLink="/newfeeds"></a></h6>
                      <div class="post-settings-bar">
                        <span></span>
                        <span></span>
                        <span></span>
                        <div class="post-settings arrow-shape">
                          <ul>
                            <li><button>copy link to adda</button></li>
                            <li><button>edit post</button></li>
                            <li><button>embed adda</button></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div _ngcontent-qtc-c47="" class="card widget-item">
                      <h4 _ngcontent-qtc-c47="" class="widget-title">{{user.fullname}}</h4>
                      <div _ngcontent-qtc-c47="" class="widget-body">
                        <div _ngcontent-qtc-c47="" class="about-author">
                          <p _ngcontent-qtc-c47="">{{user.bio}}</p>
                          <ul _ngcontent-qtc-c47="" class="author-into-list">
                            <li _ngcontent-qtc-c47=""><a _ngcontent-qtc-c47="" routerLink="#">
                            <i _ngcontent-qtc-c47="" class="bi bi-home"></i>{{user.address}}</a>
                            </li>
                            <li _ngcontent-qtc-c47=""><a _ngcontent-qtc-c47="">
                            <i _ngcontent-qtc-c47="" class="bi bi-heart-beat"></i>{{user.description}}</a>
                          </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- about author details start -->

      <!-- photo section start -->
    <div class="photo-section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="content-box">
              <h5 class="content-title">photos</h5>
              <div class="content-body">
                <div class="row mt--30">
                  <div class="col-sm-6 col-md-4"  *ngFor="let l of listPost">
                    <div class="photo-group">
                      <div class="gallery-toggle">
                        <div class="gallery-overlay">
                          <img src="{{l.image}}" alt="Photo Gallery">
                          <div class="view-icon"></div>
                        </div>
                        <div class="photo-gallery-caption">
                          <a routerLink="/diachianh" class="photos-caption">{{l.content}}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="load-more text-center">
                      <button class="load-more-btn">load more</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- photo section end -->


  </div>
  </span>


  <span *ngIf="guest != undefined">
  <div class="main-wrapper">
    <!-- profile banner area start -->
    <div class="profile-banner-large bg-img"
         style="background-image: url({{guest.imgcover}});">
    </div>
    <!-- profile menu area start -->
    <div class="profile-menu-area secondary-navigation-style bg-white">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-3">
            <div class="profile-picture-box">
              <figure class="profile-picture">
                <a routerLink="/profile/{{guest.id}}">
                  <img src="{{guest.avatar}}" alt="profile picture">
                </a>
              </figure>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 offset-lg-1">
            <div class="profile-menu-wrapper">
              <div class="main-menu-inner header-top-navigation">
                <nav>
                  <ul class="main-menu">
                    <li class="active"><a routerLink="#">timeline</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- profile menu area end -->

    <!-- sendary menu start -->
    <div class="menu-secondary">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="secondary-menu-wrapper bg-white">
              <div class="page-title-inner">
                <h4 class="page-title">{{guest.fullname}}</h4>
              </div>
              <div class="main-menu-inner header-top-navigation">
              </div>
              <div class="post-settings-bar">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- sendary menu end -->

    <!-- about author details start -->
    <div class="about-author-details">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="card widget-item">
              <div class="about-me">
                <ul class="nav flex-column about-author-menu">
                  <li><a routerLink="#one" data-toggle="tab" class="active">Something About Me</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="about-description">
              <div class="tab-content">
                <div class="tab-pane fade active show" id="">
                  <div class="work-zone">
                    <div class="author-desc-title d-flex">
                      <h6 class="author"><a routerLink="/newfeeds">{{guest.username}}</a></h6>
                      <div class="post-settings-bar">
                        <span></span>
                        <span></span>
                        <span></span>
                      </div>
                    </div>
                    {{guest.description}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </span>
</main>

