<main>
  <span *ngIf="user != undefined">
    <div class="main-wrapper">
    <!-- profile banner area start -->
    <div class="profile-banner-large bg-img"
         style="background-image: url({{user.imgcover}});">
    </div>
      <!-- profile menu area start -->
    <div class="profile-menu-area secondary-navigation-style bg-white">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-3">
            <div class="profile-picture-box">
              <figure class="profile-picture">
                <a href="/profile/{{user.id}}">
                  <img src="{{user.avatar}}" alt="profile picture">
                </a>
              </figure>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 offset-lg-1">
            <div class="profile-menu-wrapper">
              <div class="main-menu-inner header-top-navigation">
                <nav>
                  <ul class="main-menu">
                    <li class="active"><a href="#">timeline</a></li>
                    <li><a href="about.html">about</a></li>
                    <li><a href="photos.html">photos</a></li>
                    <li><a href="friends.html">friends</a></li>
                    <li><a href="about.html">more</a></li>
                    <!-- <li class="d-inline-block d-md-none"><a href="profile.html">edit profile</a></li> -->
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 d-none d-md-block">
            <div class="profile-edit-panel">
              <button class="edit-btn">edit profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- profile menu area end -->

      <!-- sendary menu start -->
    <div class="menu-secondary">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="secondary-menu-wrapper bg-white">
              <div class="page-title-inner" >
                <h4 class="page-title">{{user.fullname}}</h4>
              </div>
              <div class="main-menu-inner header-top-navigation">
                <nav>
                  <ul class="main-menu">
                    <li><a href="#"><span>facebook</span> <i class="flaticon-facebook"></i></a></li>
                    <li><a href="#"><span>twitter</span> <i class="flaticon-twitter-logo-silhouette"></i></a></li>
                    <li><a href="#"><span>google</span> <i class="flaticon-google-plus"></i></a></li>
                    <li><a href="#"><span>pinterest</span> <i class="flaticon-pinterest"></i></a></li>
                    <!-- <li class="d-inline-block d-md-none"><a href="profile.html">edit profile</a></li> -->
                  </ul>
                </nav>
              </div>
              <div class="post-settings-bar">
                <span></span>
                <span></span>
                <span></span>
                <div class="post-settings arrow-shape">
                  <ul>
                    <li><button>edit profile</button></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- sendary menu end -->

      <!-- about author details start -->
    <div class="about-author-details">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="card widget-item">
              <div class="about-me">
                <ul class="nav flex-column about-author-menu">
                  <li><a href="#one" data-toggle="tab" class="active">Something About Me</a></li>
                  <li><a href="#two" data-toggle="tab">Photo</a></li>
                  <li><a href="#three" data-toggle="tab">Friend</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-9" >
            <div class="about-description">
              <div class="tab-content">
                <div class="tab-pane fade active show" id="one">
                  <div class="work-zone">
                    <div class="author-desc-title d-flex">
                      <h6 class="author"><a href="/newfeeds">{{user.username}}</a></h6>
                      <div class="post-settings-bar">
                        <span></span>
                        <span></span>
                        <span></span>
                        <div class="post-settings arrow-shape">
                          <ul>
                            <li><button>copy link to adda</button></li>
                            <li><button>edit post</button></li>
                            <li><button>embed adda</button></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    {{user.bio}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- about author details start -->

      <!-- photo section start -->
    <div class="photo-section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="content-box">
              <h5 class="content-title">photos</h5>
              <div class="content-body">
                <div class="row mt--30">
                  <div class="col-sm-6 col-md-4">
                    <div class="photo-group">
                      <div class="gallery-toggle">
                        <div class="gallery-overlay">
                          <img src="images/photos/photo-1.jpg" alt="Photo Gallery">
                          <div class="view-icon"></div>
                        </div>
                        <div class="photo-gallery-caption">
                          <a href="/diachianh" class="photos-caption">office hangout</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="load-more text-center">
                      <button class="load-more-btn">load more</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- photo section end -->

      <!-- photo section start -->
    <div class="friends-section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="content-box">
              <h5 class="content-title">friends</h5>
              <div class="content-body">
                <div class="row mt--20">
                  <div class="col-lg-3 col-sm-6">
                    <div class="friend-list-view">
                      <!-- profile picture end -->
                      <div class="profile-thumb">
                        <a href="#">
                          <figure class="profile-thumb-middle">
                            <img src="images/profile/profile-small-1.jpg" alt="profile picture">
                          </figure>
                        </a>
                      </div>
                      <!-- profile picture end -->

                      <!-- dung vong lap de lay danh sach ban be -->

                      <div class="posted-author">
                        <h6 class="author"><a href="/profile/">ten ban</a></h6>
                        <button class="add-frnd">trang thai ban be</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="load-more text-center">
                      <button class="load-more-btn">load more</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- photo section end -->


  </div>
  </span>



  <span *ngIf="guest != undefined">
  <div class="main-wrapper">
    <!-- profile banner area start -->
    <div class="profile-banner-large bg-img"
         style="background-image: url({{guest.imgcover}});">
    </div>
    <!-- profile menu area start -->
    <div class="profile-menu-area secondary-navigation-style bg-white">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-3">
            <div class="profile-picture-box">
              <figure class="profile-picture">
                <a href="/profile/{{guest.id}}">
                  <img src="{{guest.avatar}}" alt="profile picture">
                </a>
              </figure>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 offset-lg-1">
            <div class="profile-menu-wrapper">
              <div class="main-menu-inner header-top-navigation">
                <nav>
                  <ul class="main-menu">
                    <li class="active"><a href="#">timeline</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- profile menu area end -->

    <!-- sendary menu start -->
    <div class="menu-secondary">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="secondary-menu-wrapper bg-white">
              <div class="page-title-inner" >
                <h4 class="page-title">{{guest.fullname}}</h4>
              </div>
              <div class="main-menu-inner header-top-navigation">
              </div>
              <div class="post-settings-bar">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- sendary menu end -->

    <!-- about author details start -->
    <div class="about-author-details">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="card widget-item">
              <div class="about-me">
                <ul class="nav flex-column about-author-menu">
                  <li><a href="#one" data-toggle="tab" class="active">Something About Me</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-9" >
            <div class="about-description">
              <div class="tab-content">
                <div class="tab-pane fade active show" id="">
                  <div class="work-zone">
                    <div class="author-desc-title d-flex">
                      <h6 class="author"><a href="/newfeeds">{{guest.username}}</a></h6>
                      <div class="post-settings-bar">
                        <span></span>
                        <span></span>
                        <span></span>
                      </div>
                    </div>
                    {{guest.description}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </span>
</main>
