<!--<table class="table table-bordered">-->
<!--  <th>ID</th>-->
<!--  <th>Username</th>-->
<!--  <th>Danh sach ban be</th>-->
<!--  <tr *ngFor="let user of users" >-->

<!--      <td>{{user.id}}</td>-->
<!--    <td>{{user.username}}</td>-->
<!--    <td *ngIf="user.id!=1">-->
<!--      <button (click)="send(user.id)">Send</button>-->

<!--      <button (click)="checkFriends(1,user.id)" >Check</button></td>-->
<!--    <td>{{check1}}</td>-->

<!--  </tr>-->
<!--</table>-->

<!--<div style="margin-top: 100px">-->

  <a routerLink="/list">Tra loi Loi moi ket ban/Huy ket ban </a>
  <router-outlet></router-outlet>

<!--</div>-->
