<div class="main-wrapper pt-80">
  <div class="container"
  >
    <div class="row">
        <form [formGroup]="editForm" (ngSubmit)="onSave()">
          <div class="card">
            <!-- post title start -->
            <div class="post-title d-flex align-items-center">
              <!-- profile picture end -->
              <div class="profile-thumb">
                <a href="#">
                  <figure class="profile-thumb-middle">
                    <img src="{{user.avatar}}" alt="profile picture">
                  </figure>
                </a>
              </div>
              <!-- profile picture end -->

              <div class="posted-author">
                <h6 class="author"><a href="">{{user.fullname}}</a></h6>
                <span class="post-time">{{post.createDate}}</span>
              </div>


            </div>
            <div ng-app="myApp" ng-controller="myCtrl">
              <select ng-model="selectedPrivacy" formControlName="privacy">
                <option  *ngFor="let privacy of privacies" [value]="privacy.model">{{privacy.model}}</option>
              </select>
            </div>


            <div class="post-settings-bar">
              <span></span>
              <span></span>
              <span></span>
              <div class="post-settings arrow-shape">
                <ul>
                  <li>
                    <a (click)="deleteImage()">delete picture</a>
                  </li>
                  <li>
                    <a (click)="cloneButton()">change privacy</a>
                  </li>
                </ul>
              </div>
            </div>

            <!-- post title start -->
            <div *ngIf="user.id !== userCurrent.id">
              <div class="post-content" >
                <p class="post-desc">
                  {{post.content}}
                </p>
                <div class="post-thumb-gallery img-gallery">
                  <div class="row no-gutters">
                    <div class="col-8">
                      <figure class="post-thumb" *ngIf="post.image !== null">
                        <a class="gallery-selector" href="{{post.image}}">
                          <img src="{{post.image}}" alt="post image" width="300px" height="300px">
                        </a>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
              <form class="share-text-box">
                <textarea name="share" class="share-text-field" placeholder="leave a comment"
                          id="cmt"></textarea>
                <button class="btn-share" type="submit">Comment</button>
              </form>
            </div>

            <div class="post-content" *ngIf="user.id == userCurrent.id">
              <label>
                <textarea type="text" formControlName="contents" value="{{post.content}}" ></textarea>
              </label>
              <div class="post-thumb-gallery">
                <figure class="post-thumb img-popup">
                  <a href="{{post.image}}">
                    <img src="{{post.image}}" alt="post image">
                  </a>
                </figure>
              </div>
              <div class="form-group col-12">
                <input type="file"
                       id="file"
                       #userPhoto
                       (change)="onFileSelected($event)"
                       name="image"
                       autocomplete="off"
                />
              </div>
              <div id="place-save">
                <button type="submit" id="bt-save">Save</button>
              </div>
            </div>
          </div>
        </form>

    </div>
  </div>
</div>
