<app-header></app-header>

<main>
  <div class="main-wrapper">
    <div class="profile-banner-large bg-img" style="background-image: url({{user.imgcover}});">
    </div>
  </div>


  <!--menu profile-->
  <div class="profile-menu-area bg-white">
    <app-menu-timeline></app-menu-timeline>
  </div>

  <div class="container">
    <div class="row">


      <div class="col-lg-3 order-2 order-lg-1">
        <aside class="widget-area profile-sidebar">
          <!-- widget single item start -->
          <div _ngcontent-qtc-c47="" class="card widget-item">
            <h4 _ngcontent-qtc-c47="" class="widget-title">{{user.fullname}}</h4>
            <div _ngcontent-qtc-c47="" class="widget-body">
              <div _ngcontent-qtc-c47="" class="about-author">
                <p _ngcontent-qtc-c47="">{{user.description}}</p>
                <ul _ngcontent-qtc-c47="" class="author-into-list">
                  <li _ngcontent-qtc-c47=""><a _ngcontent-qtc-c47="" routerLink="#">
                    <i _ngcontent-qtc-c47="" class="bi bi-home"></i>{{user.address}}</a>
                  </li>
                  <li _ngcontent-qtc-c47=""><a _ngcontent-qtc-c47="">
                    <i _ngcontent-qtc-c47="" class="bi bi-heart-beat"></i>{{user.bio}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- widget single item end -->
          <app-sweet-memory></app-sweet-memory>

        </aside>
      </div>


      <!-- chỗ này show tất cả status của mình gần nhất -->
      <div class="col-lg-6 order-1 order-lg-2">


        <!--Viết Status-->
<!--        <div class="card card-small">-->
<!--          <div class="share-box-inner">-->
<!--            <div class="share-content-box w-100">-->
<!--              <app-post></app-post>-->
<!--            </div>-->
<!--            &lt;!&ndash; share content box end &ndash;&gt;-->
<!--            &lt;!&ndash; Modal start &ndash;&gt;-->
<!--            <div class="modal fade" id="textbox" aria-labelledby="textbox">-->
<!--              <div class="modal-dialog">-->
<!--                <div class="modal-content">-->
<!--                  <div class="modal-header">-->
<!--                    <h5 class="modal-title">Share Your Mood</h5>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                      <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                  </div>-->
<!--                  <div class="modal-body custom-scroll">-->
<!--                    <textarea name="share" class="share-field-big custom-scroll" placeholder="Say Something"></textarea>-->
<!--                  </div>-->
<!--                  <div class="modal-footer">-->
<!--                    <button type="button" class="post-share-btn" data-dismiss="modal">cancel</button>-->
<!--                    <button type="button" class="post-share-btn">post</button>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Modal end &ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->


        <!-- list status -->
        <app-my-post [fid]="fid"></app-my-post>

      </div>


      <div class="col-lg-3 order-3">
        <aside class="widget-area">


          <!--- Hiển Thị Thông Báo -->
          <app-notification></app-notification>
          <!-- widget single item end -->


       <app-friend-similar [id_myFriend]="user.id"></app-friend-similar>
        </aside>
      </div>


    </div>
  </div>

</main>
