<p>love works!</p>

<div class="container">
  <div>Id_Post : <input  type="text" [(ngModel)]="id_post" (change)="checkLiked(id_post,id_user)" (change)="countLike(id_post)"></div>
  <div>My ID: <input type="text" [(ngModel)]="id_user" (change)="checkLiked(id_post,id_user)"></div>{{id_user}}
  <button class="like-button">
    <img *ngIf="!checkLike" class="heart" src="assets/images/icons/heart.png" alt="" (click)="like(id_post,id_user)">
    <img *ngIf="checkLike"class="heart-color" src="assets/images/icons/heart-color.png" alt="" (click)="unlike(id_love)">
  </button>
  <p>{{count_like}}Like</p>

</div>
