<!--test-->

<div class="container">
  <div><input type="hidden" [(ngModel)]="id" (ngModelChange)="getAllFriend(id)"></div>
  <div class="row">
    <div class="col-12">
      <div class="content-box friends-zone" >
        <div class="row " style="position: relative">

          <div class="col-lg-3 col-sm-6 relative" *ngFor="let user of users">
            <div class="friend-list-view">
              <div class="profile-thumb">
                <a routerLink="/profile/{{user.id}}">
                  <figure class="profile-thumb-middle">
                    <img [src]="user.imgcover" alt="profile picture">
                  </figure>
                </a>
              </div>
              <div class="posted-author">
                <h6 class="author"><a routerLink="/profile/{{user.id}}">{{user.fullname}}</a></h6>
                <p class="add-frnd">My Friend</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end code-->
