<div class="card">
  <!-- post title start -->
  <div class="post-title d-flex align-items-center">
    <!-- profile picture end -->
    <div class="profile-thumb">
      <a href="#">
        <figure class="profile-thumb-middle">
          <img src="assets/images/profile/profile-small-9.jpg" alt="profile picture">
        </figure>
      </a>
    </div>
    <!-- profile picture end -->

    <div class="posted-author">
      <h6 class="author"><a href="profile.html">Jon Wileyam</a></h6>
      <span class="post-time">15 min ago</span>
    </div>
  </div>
  <!-- post title start -->
  <div class="post-content">
    <p class="post-desc pb-0">
      Many desktop publishing packages and web page editors now use Lorem Ipsum as their
      default model text, and a search for
    </p>
    <div class="post-meta">
      <button class="post-meta-like">
        <i class="bi bi-heart-beat"></i>
        <span>You and 206 people like this</span>
        <strong>206</strong>
      </button>
    </div>
  </div>
</div>

