<div class="card" *ngFor="let p of listPost">
  <div class="post-title d-flex align-items-center">

    <!-- profile picture end -->
    <div class="profile-thumb">
      <a routerLink="/profile/{{user.id}}">
        <figure class="profile-thumb-middle">
          <img src="{{user.avatar}}" alt="profile picture">
        </figure>
      </a>
    </div>
    <!-- profile picture end -->

    <div class="posted-author">
      <h6 class="author"><a routerLink="/profile/{{user.id}}"> {{user.fullname}}</a></h6>
      <span class="post-time">{{p.createDate}}</span>
    </div>
  </div>
  <!-- post title start -->
  <div class="post-content">
    <p class="post-desc">
      {{p.content}}
    </p>
    <div class="post-thumb-gallery img-gallery">
      <div class="row no-gutters">
        <div class="col-8">
          <figure class="post-thumb" *ngIf="p.image !== null">
            <a class="gallery-selector" routerLink="{{p.image}}">
              <img src="{{p.image}}" alt="post image">
            </a>
          </figure>
        </div>
      </div>
    </div>
    <!-- form like 1 status -->
    <form>
      <div class="post-meta">
        <button class="like-button active">
          <img class="heart-color" src="../../../../assets/images/icons/heart-color.png" alt="">
          <a>Số Lượng Love</a>
        </button>
        <ul class="comment-share-meta">
          <li>
            <button class="post-comment">
              <i class="bi bi-chat-bubble"></i>
              <a routerLink="/comment/id">xem các cmt khác</a>
            </button>
          </li>
        </ul>
      </div>
    </form>

  </div>


  <app-comment [postId]="p.postId" [check1]="checkFriend"></app-comment>


</div>
