

<!-- đây là menu timeline-->
<div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-3">
        <div class="profile-picture-box">
          <figure class="profile-picture">
            <a href="/profile/{{user.id}}">
              <img src="{{user.avatar}}" alt="profile picture">
            </a>
          </figure>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 offset-lg-1">
        <div class="profile-menu-wrapper">
          <div class="main-menu-inner header-top-navigation">
            <nav>
              <ul class="main-menu">
                <li class="active"><a href="/home">timeline</a></li>
                <li><a href="/profile/{{user.id}}/about">about</a></li>
                <li><a href="/friend/{{user.id}}">friends</a></li>
                <li><app-friend></app-friend></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 d-none d-md-block">
        <div class="profile-edit-panel">
          <button class="edit-btn">edit profile</button>
        </div>
      </div>
    </div>
  </div>
