

<!-- đây là menu timeline-->
<div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-3">
        <div class="profile-picture-box">
          <figure class="profile-picture">
            <a routerLink="/profile/{{user.id}}">
              <img src="{{user.avatar}}" alt="profile picture">
            </a>
          </figure>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 offset-lg-1">
        <div class="profile-menu-wrapper">
          <div class="main-menu-inner header-top-navigation">
            <nav>
              <ul class="main-menu">
                <li class="active"><a routerLink="/home">timeline</a></li>
                <li><a routerLink="/profile/{{user.id}}/about">about</a></li>
                <li><a routerLink="/profile/{{user.id}}/friends">friends</a></li>
                <li><app-friend></app-friend></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 d-none d-md-block">
        <div class="profile-edit-panel">
          <div class="post-settings-bar">
            <a style="color: whitesmoke" class="edit-btn">Acount</a>
            <div class="post-settings arrow-shape">
              <ul>
                <li>
                  <button routerLink="/edit-profile">edit profile</button>
                </li>
                <li>
                  <button routerLink="/logout">logout</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
