<div class="card">
  <div class="post-meta">
    <app-love [id_post]="postId"></app-love>
    <ul class="comment-share-meta">
      <li><span> {{count}} comment</span>
        <button class="post-comment" (click)="getAll(postId)">
          <i class="bi bi-chat-bubble"></i>
        </button>
      </li>
    </ul>
  </div>
  <!-- form bình luận 1 status -->
  <form class="share-text-box" [formGroup]="formComment" (ngSubmit)="createComment()">
                <textarea class="share-text-field" placeholder="leave a comment"
                          id="cmt" formControlName="content"></textarea>

    <button class="btn-share" type="submit">Comments</button>
  </form>
  <p *ngIf="!check">{{status}}</p>
  <!--    list comment all -->
  <div id="list-comment" *ngIf="check2">
    <div id="display-comment-all" *ngFor="let cm of comments">
      <app-user-info [IdUserCmt]="cm.userId" [createDateCmt]="cm.createDate"></app-user-info>
      <div class="content" id="content-all">
        <p>{{cm.content}}</p>
        <!--        dropdown-menu-->

        <div *ngIf="result">
          <div class="post-settings-bar">
            <span></span>
            <span></span>
            <span></span>
            <div class="post-settings arrow-shape">
              <ul>
                <li>
                  <a routerLink="../../{{cm.postId}}/edit-detail-comment/{{cm.commentId}}">edit</a>
                </li>
                <li>
                  <button type="button" (click)="deleteComment(cm.commentId)">delete</button>
                </li>
              </ul>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
