#display-comment-privacy  {
  width: fit-content;
  height: fit-content;
  margin: 15px;
  display: flex;
  flex-direction: column;
}
#profile-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
}
#avatar  {
  display: flex;
  width: 250px;
}
.content  {
  display: flex;
  margin-left: 45px;
  width: fit-content;
  height: fit-content;
  justify-content: center;
}
.author {
  padding-right: 5px;
  border: 1px #f1f1f1;
  border-radius: 5px;
  background: #f1f1f1;
  padding-left: 5px;
}
.center {
  display: flex;
  justify-content: center;
}
#display-comment-all{
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#place-user-info{
  display: flex;
}
#progress-bar{
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
}
